body{
    padding: 20px;
    color:#5a5a5a;
  }
  .navbar-wrapper{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    z-index: 20;
   
  }
   
  .carousel-slide
  {
    height: 100px;
    margin-bottom: 50px;
  }
  .carousel-item{
    height:500px;
    background-color: #777;
  }
  .carousel-inner > .carousel-item >img{
    position: absolute;
    height: 500px;
    min-width: 100%;
    top:0;
    left:0;
   
  
  
  }
  
  